.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gugi", sans-serif;
}

b {
    color: rgb(231, 231, 3);
}

.comment {
    color: #fff;
}