.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #434553;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Gugi", sans-serif;
}

.title {
    margin: 0;
    color: #fff;
    font-family: "Gugi", sans-serif;
}

label {
    color: #FF6E42;
    float: right;
    font-family: "Gugi", sans-serif;
}
label:hover {
    cursor: pointer;
}
.content {
    font-size: 20px;
    color: #fff;
    font-family: "Gugi", sans-serif;
}